.DS_Store
/node_modules/
*.tsbuildinfo
/local/
.local
.env

# React Router
/.react-router/
/build/

# Cloudflare
.mf
.wrangler
.dev.vars*

# db
/drizzle/seed.sql
/drizzle/seed--production.sql
/drizzle/seed.ts
/drizzle/migrations/meta/_journal.json
